# Python Exercise for Beginners

#### 1. Write a program that prints your full name and your favorite hobby.

In [1]:
print("My name is Khiet Van Phan, or Joanne for short. My hobby is playing guitar and cooking.")

My name is Khiet Van Phan, or Joanne for short. My hobby is playing guitar and cooking.

#### 2. Variables
Define a variable age with your age (or any number).<br>
Define a variable height in centimeters (or any number).<br>
Print both in a complete sentence like:<br>

In [ ]:
age = 22
height = 160  # in centimeters
print("I am", age, "years old.")
print("I am", height, "centimeters tall.")

I am 21 years old.
I am 160 centimeters tall.

#### 3. Arithemtic Operations<br>
Create two variables a = 15 and b = 4.<br>
Compute and print:<br>
Sum<br>
Difference<br>
Product<br>
Quotient<br>
Remainder

In [5]:
a = 15
b = 4
sum_result = a + b
difference_result = a - b
product_result = a * b
quotient_result = a / b
remainder_result = a % b
print("Sum:", sum_result)
print("Difference:", difference_result)
print("Product:", product_result)
print("Quotient:", quotient_result)
print("Remainder:", remainder_result)

Sum: 19
Difference: 11
Product: 60
Quotient: 3.75
Remainder: 3

#### 4. Ask the user for a number and check if it’s positive, negative, or zero.

In [ ]:
inputNum = int(input("Enter an integer: "))

if inputNum > 0:
    print(inputNum, "The number is a positive number.")
elif inputNum < 0:
    print(inputNum, "The number is a negative number.")
else:
    print("The number is zero.")

#### 5. Write a for loop that prints numbers from 1 to 10.

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### 6. Write a while loop that counts down from 5 to 1 and then prints "Liftoff!"

In [2]:
count = 5
while count > 0:
    print("Countdown:", count)
    count -= 1
print("Liftoff!")

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Liftoff!

#### 7. Functions
Write a function square(x) that returns the square of a number.<br>
Call this function for values 2, 5, and -3.

In [3]:
def square(number):
    return number * number
print(square(2))
print(square(5))
print(square(-3))

4
25
9

#### 8. Lists
Create a list of five fruits.<br>

Print:<br>
The first fruit<br>
The last fruit<br>
The list sorted alphabetically<br>

In [7]:
fruits = ["apple", "banana", "cherry","orange","grapes"]
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])
print("Sorted Fruits:", sorted(fruits))

First fruit: apple
Last fruit: grapes
Sorted Fruits: ['apple', 'banana', 'cherry', 'grapes', 'orange']

#### 9. Write a program that:

Asks the user to input a temperature in Celsius<br>
Converts it to Fahrenheit<br>
Prints the result<br>

In [ ]:
celsiusInput = float(input("Enter temperatures in Celsius separated by spaces: "))
farenheit = (celsiusInput * 9/5) + 32
print("Temperature in Farenheit:", farenheit)

#### 10. Tuples
Create a tuple named person containing your name, age, and country.<br>
Print each item using indexing.<br>
Try to change the age. What happens? Explain in a comment.

In [10]:
person = ("Joanne Phan",22,"Vietnam")
print("Name:", person[0])
print("Age:", person[1])
print("Country:", person[-1])

# Trying to change age:
# person[1] = 23 
# This will raise a TypeError because 'tuple' object does not support item assignment

Name: Joanne Phan
Age: 22
Country: Vietnam

#### 11. Sets
- Create a set of your three favorite colors.<br>
- Add a new color.<br>
- Try adding a duplicate color and observe what happens.<br>
- Remove one color from the set.

In [ ]:
favColors = {"Purple","Red","Black"}
favColors.add("Blue")
favColors.add("Black")  # Duplicate, will not be added
print("Favorite Colors (Added an extra Black):", favColors)
favColors.remove("Blue")
print("Favorite Colors (Removed Blue):", favColors)

Favorite Colors (Added an extra Black): {'Purple', 'Blue', 'Black', 'Red'}
Favorite Colors (Removed Blue): {'Purple', 'Black', 'Red'}

#### 12. Set Operations
Given two sets:<br>
a = {1, 2, 3, 4},
b = {3, 4, 5, 6}<br>
<br>
Find the union<br>
Find the intersection<br>
Find the difference a - b and b - a

In [14]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

print("Union:", a | b)
print("Intersection:", a & b)
print("Difference a - b:", a - b)
print("Difference b - a:", b - a)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference a - b: {1, 2}
Difference b - a: {5, 6}

#### 13. Dictionaries
- Create a dictionary named student with keys: name, age, grade<br>
- Print each key and value<br>
- Add a new key email<br>
- Update the grade

In [17]:
student = {
    "name": "Khiet Van Phan",
    "age": 22,
    "grade": "B+"
}

# Print each key and value
for key, value in student.items():
    print(key, ":", value)

# Add a new key
student["email"] = "joannephan04@email.com"

# Update the grade
student["grade"] = "A+"

print("Updated student information:")
print(student)

name : Khiet Van Phan
age : 22
grade : B+
Updated student information:
{'name': 'Khiet Van Phan', 'age': 22, 'grade': 'A+', 'email': 'joannephan04@email.com'}

#### 14. Dictionary Iteration
Given scores = {'Math': 80, 'Science': 90, 'English': 85},<br>
Loop through the dictionary and print:
"In 'subject', the score is 'value'."<br>

Calculate and print the average score

In [18]:
scores = {
    "Math": 80,
    "Science": 90,
    "English": 85
}

for subject, score in scores.items():
    print(subject, ":", score)

average = sum(scores.values()) / len(scores)
print("Average Score:", average)

Math : 80
Science : 90
English : 85
Average Score: 85.0

#### 15. Nested Dictionaries
Create a dictionary to store information about two students:<br>

students = {
    'Ava': {'age': 20, 'major': 'CS'},
    'Leo': {'age': 22, 'major': 'Math'}
}<br>
- Print Ava's major<br>
- Add a new student<br>
- Change Leo’s age to 23

In [20]:
students = {
    "Ava": {"age": 20, "major": "CS"},
    "Leo": {"age": 22, "major": "Math"}
}

# Print Ava's major
print("Ava's major:", students["Ava"]["major"])

# Add a new student
students["Devon"] = {"age": 23, "major": "Mechanics"}

# Change Leo's age to 23
students["Leo"]["age"] = 23

print(students)

Ava's major: CS
{'Ava': {'age': 20, 'major': 'CS'}, 'Leo': {'age': 23, 'major': 'Math'}, 'Devon': {'age': 23, 'major': 'Mechanics'}}

#### 16. Write a program that:

- Takes a sentence from the user<br>
- Splits it into words<br>
- Creates a dictionary with the frequency of each word

In [ ]:
sentence = input("Enter a sentence: ")
words = sentence.split()

frequency = {}
for word in words:
    if word in frequency:
        frequency[word] += 1
    else:
        frequency[word] = 1

print(frequency)

## Great Job!